<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OlaKAse</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlets</display-name>
    <servlet-name>loginServlets</servlet-name>
    <servlet-class>cl.indefensoinformatico.servlets.loginServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlets</servlet-name>
    <url-pattern>/loginServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>cl.indefensoinformatico.servlets.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>galletaServlets</display-name>
    <servlet-name>galletaServlets</servlet-name>
    <servlet-class>cl.indefensoinformatico.servlets.galletaServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>galletaServlets</servlet-name>
    <url-pattern>/galletaServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>galletaServlet</display-name>
    <servlet-name>galletaServlet</servlet-name>
    <servlet-class>cl.indefensoinformatico.servlets.galletaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>galletaServlet</servlet-name>
    <url-pattern>/galletaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>simpleSesionServlet</display-name>
    <servlet-name>simpleSesionServlet</servlet-name>
    <servlet-class>cl.indefensoinformatico.servlets.simpleSesionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>simpleSesionServlet</servlet-name>
    <url-pattern>/simpleSesionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sesionObjetoServlet</display-name>
    <servlet-name>sesionObjetoServlet</servlet-name>
    <servlet-class>cl.indefensoinformatico.servlets.sesionObjetoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sesionObjetoServlet</servlet-name>
    <url-pattern>/sesionObjetoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nombreUsuarioServlet</display-name>
    <servlet-name>nombreUsuarioServlet</servlet-name>
    <servlet-class>cl.indefensoinformatico.servlets.nombreUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nombreUsuarioServlet</servlet-name>
    <url-pattern>/nombreUsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nombreUsuarioListaServlet</display-name>
    <servlet-name>nombreUsuarioListaServlet</servlet-name>
    <servlet-class>cl.indefensoinformatico.servlets.nombreUsuarioListaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nombreUsuarioListaServlet</servlet-name>
    <url-pattern>/nombreUsuarioListaServlet</url-pattern>
  </servlet-mapping>
</web-app>